@font-face {
    font-family: Geneva;
    src: url(Geneva.ttf);
}
@font-face {
    font-family: ArgosANouveau;
    src: url(ArgosANouveau.ttf);
}
@font-face {
    font-family: Seldane;
    src: url(Seldane.ttf);
}
.argos {
    font-family: ArgosANouveau;
    font-size: 18px;
}
.seldane { font-family: Seldane; }
html { background: #614416; }
html, body, #app {
    padding: 0;
    margin: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    font-family: Geneva;
    position: relative;
    min-height: 100vh;
}
* {
    box-sizing: border-box;
    cursor: url(../img/ui/cursor.png), auto;
}
button { border: none; }
select:focus, button:focus {
    outline: none;
}
input[type=radio] { display: none; }
input[type=radio] + span {
    padding-left: 16px;
    margin-left: 2px;
    display: inline-block;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}
.button {
    font-family: ArgosANouveau;
    font-size: 18px;
    position: relative;
    min-height: 32px;
    min-width: 96px;
    background: transparent;
    border: 6px solid transparent;
    white-space: nowrap;
    padding: 8px 0 0 0;
}

.scrollbar {
    width: 16px;
    height: 100%;
    position: relative;
}

.scrollbar button {
    width: 16px;
    height: 16px;
    position: absolute;
}

.scrollbar .up {
    top: 0;
}

.scrollbar .track {
    position: absolute;
    width: 16px;
    top: 16px;
    bottom: 16px;
    border: 8px solid transparent;
}

.scrollbar .thumb {
    left: -8px;
}

.scrollbar .down {
    bottom: 0;
}

/* window */
.window {
    box-sizing: content-box;
    position: absolute;
    border: 16px solid transparent;
    user-select: none;
}
.window .content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.window.world .content {
    background: #000;
}
.popup header, .window header {
    font-family: ArgosANouveau;
    text-align: center;
    position: absolute;
    width: 100%;
    top: -16px;
    height: 16px;
    user-select: none;
    white-space: nowrap;
}
header h1 {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    font-size: 1rem;
    line-height: 0.6rem;
    height: 16px;
    border: 8px solid transparent;
}
.window > button {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border: 0;
    outline: 0;
}
.window .close {
    top: -16px;
    left: -16px;
}
.window .resize {
    bottom: -16px;
    right: -16px;
}
.window h2 {
    font-family: ArgosANouveau;
    font-size: 18px;
    font-weight: normal;
    padding: 10px;
    margin: 0;
}
/* /window */

/* hud */

#hud {
    position: fixed;
    bottom: 0;
    width: 100vw;
}
#hud > .content {
    display: flex;
    position: relative;
    height: 128px;
    margin: 0 auto;
    padding: 5px;
    max-width: 834px;
    z-index: 2147483000;
}
#hud > .content:before {
    content: "";
    position: fixed;
    box-sizing: border-box;
    height: 128px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border: 32px solid transparent;
}
#hud .hotkeys {
    width: 74px;
    height: 108px;
    margin: 5px 11px 0 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.mini-border {
    border: 3px solid transparent;
}
#hud .log-wrap {
    margin-right: 11px;
    height: 118px;
    max-width: 446px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#hud .log-wrap header {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}
#hud button.action {
    width: 32px;
    height: 16px;
    flex-grow: 0;
}
#hud .log-wrap .looking-at {
    flex-grow: 1;
}
#hud .log-wrap .looking-at span {
    display: block;
    position: relative;
    top: -5px;
    font-size: 9pt;
}
#hud .log-wrap .log {
    width: 100%;
    flex-grow: 1;
    margin: 0;
    padding: 0 2px;
    font-size: 7pt;
    outline: none;
    resize: none;
}
#hud .log-wrap * {
    font-weight: normal;
}
#hud .landscape-party-wrap {
    position: relative;
    height: 120px;
}
#hud .landscape {
    box-sizing: content-box;
    width: 288px;
    height: 32px;
}
#hud .party {
    box-sizing: content-box;
    width: 288px;
    height: 76px;
    overflow: hidden;
    display: flex;
    bottom: 0;
}
#hud .party .member {
    width: 36px;
    height: 75px;
    margin: 0;
    position: relative;
}
button.occupied {
    position: absolute;
    width: 36px;
    height: 50px;
    margin: 0;
    padding: 0;
    top: 1px;
    display: flex;
    flex-direction: column;
}
.occupied canvas {
    width: 32px;
    height: 32px;
    margin: 2px;
}
.occupied progress {
    box-sizing: border-box;
    height: 6px;
    width: 29px;
    border: 1px solid black;
    margin-left: 3px;
}
.occupied progress::-moz-progress-bar,
.occupied progress::-webkit-progress-value {
    color: darkgreen;
}
select.perform {
    color: transparent;
    width: 34px;
    height: 22px;
    position: absolute;
    left: 1px;
    bottom: 1px;
    border: none;
    -moz-appearance: none;
}
select.perform option {
    color: #000;
}

/* /hud */

/* popup */

.popups {
    position: absolute;
    width: 100vw;
    min-width: 640px;
    bottom: 128px;
}

.popup {
    width: 320px;
    position: absolute;
    display: flex;
    bottom: 0;
    border: 8px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 0;
}

.popup header {
    flex-grow: 0;
}

.popup .content {
    flex-grow: 1;
    background: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    width: 320px;
    overflow-y: auto;
    margin: 0 -8px;
}

.quest {
    left: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.quest li {
    padding-top: 1px;
}

.quest input {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + span {
    height: 16px;
    padding-left: 18px;
    margin-left: 2px;
    user-select: none;
}

.journal {
    right: 0;
}

/* /popup */

/* character window */

.stats img {
    float: left;
    width: 64px;
    height: 64px;
}

.stats .effects {
    float: right;
    width: 152px;
    height: 18px;
    margin: 0;
    padding: 0;
    padding-top: 1px;
}

.stats dl {
    float: right;
    width: 152px;
    height: 46px;
    border-top: 1px solid rgba( 255, 255, 255, 0.5 );
    border-left: 1px solid rgba( 255, 255, 255, 0.5 );
    border-right: 1px solid rgba( 0, 0, 0, 0.5 );
    border-bottom: 1px solid rgba( 0, 0, 0, 0.5 );
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-right: 4px;
}

.stats dt,
.stats dd {
    margin: 0;
    padding: 0;
    float: left;
    white-space: nowrap;
}

.stats dt {
    text-align: right;
}
.stats dd {
    text-align: center;
}

.stats dt:nth-of-type(odd) {
    width: 42px;
}

.stats dd:nth-of-type(odd) {
    width: 52px;
}

.stats dt:nth-of-type(even) {
    width: 36px;
}

.stats dd:nth-of-type(even) {
    width: 20px;
}

.strategy.view label {
    box-sizing: content-box;
    height: 16px;
    padding-left: 16px;
    margin-left: 2px;
    vertical-align: middle;
}

.content .view {
    position: absolute;
    top: 64px;
    bottom: 0px;
    width: 100%;
}

.view .tabs {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 16px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.view .tabs .tab {
    text-align: center;
    width: 82px;
    height: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: rgba( 0, 0, 0, 0.25 );
}

.view .tabs .tab.selected {
    background: transparent;
}

.view .tabs .tab:nth-of-type(2) {
    margin-left: -14px;
    margin-right: -14px;
}

.view .equip {
    width: 169px;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.equip.view .inventory {
    width: 51px;
    height: 205px;
    float: right;
    margin-top: 3px;
    border-left: 1px solid rgba( 0, 0, 0, 0.5 );
    border-top: 1px solid rgba( 0, 0, 0, 0.5 );
    background: #fff;
}

/* /character window */

/* dialog */
#dialog {
    box-sizing: border-box;
    position: absolute;
    top: calc( 50vh - 232px );
    left: calc( 50vw - 276px );
    width: 552px;
    height: 336px;
    padding: 12px;
    border: solid transparent;
    border-width: 4px 8px;
    user-select: none;
    color: yellow;
    font-family: ArgosANouveau;
    font-size: 20px;
}

#dialog .keyword {
    color: cyan;
}

#dialog .participant {
    display: flex;
    min-height: 64px;
    margin-left: 22px;
}

#dialog figure {
    margin: 0;
}

#dialog figcaption {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

#dialog canvas {
    margin: 6px 18px 6px 10px;
}

#dialog p {
    line-height: 18px;
    position: relative;
    margin-right: 48px;
    margin-top: 11px;
}

#dialog .line a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

#dialog .line span {
    white-space: nowrap;
}

#dialog button.take-note {
    position: absolute;
    top: -6px;
    right: -24px;
    min-width: 24px;
    width: 24px;
    min-height: 24px;
    height: 24px;
}

#dialog .menu {
    position: absolute;
    top: 18px;
    left: 128px;
}

#dialog .menu .items a {
    color: yellow;
    text-decoration: none;
    display: inline-block;
    padding-top: 8px;
    height: 20px;
}

#dialog .menu .buttons {
    display: flex;
}

#dialog a:active {
    color: #red;
}

/* /dialog */

/* new character window */
.new-character .content {
    padding: 11px 40px;
    display: flex;
    flex-wrap: wrap;
}

.new-character .archetype-wrap {
    width: 190px;
}

.new-character .archetypes {
    width: 190px;
    height: 122px;
    border: 1px solid black;
    overflow-y: scroll;
    background: #fff;
}

.new-character .archetypes .option {
    font-family: ArgosANouveau;
    font-size: 18px;
    height: 20px;
    line-height: 28px;
    position: relative;
    padding-left: 3px;
}

.new-character .archetypes .option.selected {
    color: #000;
    background: #ccc;
}

.new-character .right {
    width: 82px;
    margin-left: 30px;
}

.new-character .portrait {
    width: 82px;
    height: 66px;
    border: 1px solid #000;
    display: flex;
}

.new-character label {
    font-family: ArgosANouveau;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    display: block;
}

.new-character dl {
    display: flex;
    flex-wrap: wrap;
}
.new-character dt {
    font-family: ArgosANouveau;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    margin: 0;
    width: 80px;
}
.new-character dd {
    width: 180px;
    margin: 0;
}
.new-character p,
.new-character dd {
    font-size: 8pt;
}

/* /new character window */

/* main menu window */
.window.main-menu > .content {
    background: url(/img/main-menu.png) no-repeat;
}

.main-menu>.content>* {
    position: absolute;
}
.main-menu .flame {
    width: 88px;
    height: 155px;
}
.main-menu .flame-1 { background: url(/img/flame-1.png) no-repeat; }
.main-menu .flame-2 { background: url(/img/flame-2.png) no-repeat; }
.main-menu .flame-3 { background: url(/img/flame-3.png) no-repeat; }
.main-menu .flame-4 { background: url(/img/flame-4.png) no-repeat; }
.main-menu .flame-5 { background: url(/img/flame-5.png) no-repeat; }
.main-menu .flame-6 { background: url(/img/flame-6.png) no-repeat; }

.main-menu .save-name {
    top: 28px;
    left: 256px;
    width: 224px;
    height: 32px;
    text-align: center;
    line-height: 18px;
    color: white;
    text-shadow: 1px 1px 0 gray;
}

.main-menu .save-name.no-player {
    color: black;
}

.main-menu .registration {
    bottom: 0;
    left: 8px;
    line-height: 18px;
    color: white;
    text-shadow: 1px 1px 0 gray;
}

.main-menu button {
    width: 151px;
    height: 31px;
    background: transparent;
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;
    border: 0px solid green;
}

.main-menu .onward {
    top: 102px;
    left: 166px;
}
.main-menu .onward:active {
    background: url(/img/onward.png);
}
.main-menu .onward[disabled] {
    background: url(/img/onward-disabled.png);
}

.main-menu .preferences {
    top: 102px;
    left: 430px;
}
.main-menu .preferences:active {
    background: url(/img/preferences.png);
}

.main-menu .new-game {
    top: 179px;
    left: 166px;
}
.main-menu .new-game:active {
    background: url(/img/new-game.png);
}

.main-menu .about {
    top: 179px;
    left: 430px;
}
.main-menu .about:active {
    background: url(/img/about.png);
}

.main-menu .open-game {
    top: 255px;
    left: 166px;
}
.main-menu .open-game:active {
    background: url(/img/open-game.png);
}

.main-menu .quit {
    top: 255px;
    left: 430px;
}
.main-menu .quit:active {
    background: url(/img/quit.png);
}
/* /main menu window */

/* slideshow */
.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 2147483100;
}

.slideshow img {
    display: block;
    margin: 30vh auto 1rem;
}

.slideshow p {
    color: cyan;
    line-height: 18px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    user-select: none;
}
/* /slideshow */
