table.default {
	border-width: 1px;
	border-spacing: 1px;
	border-style: inset;
	border-color: gray;
	border-collapse: collapse;
	background-color: none;
}
table.default th {
	border-width: 1px;
	padding: 15px;
	border-style: ridge;
	border-color: gray;
	background-color: none;
}
table.default td {
	text-align: left;
	border-width: 1px;
	padding: 10px;
	border-style: inset;
	border-color: #424242;
	background-color: none;
}

table.image {
	border-width: 1px;
	border-spacing: 1px;
	border-style: inset;
	border-color: gray;
	border-collapse: collapse;
	background-color: none;
}
table.image th {
	border-width: 1px;
	padding: 15px;
	border-style: ridge;
	border-color: gray;
	background-color: none;
}
table.image td {
	text-align: center;
	border-width: 1px;
	padding: 10px;
	border-style: inset;
	border-color: #424242;
	background-color: none;
}

table.maayti {
	border-width: 0px;
	border-spacing: 5px;
	border-style: none;
	border-color: gray;
	border-collapse: collapse;
	background-color: none;
}
table.maayti th {
	border-width: 0px;
	padding: 3px;
	border-style: solid;
	border-color: gray;
	background-color: none;
}
table.maayti td {
	text-align: center;
	border-width: 0px;
	padding: 15px;
	border-style: solid;
	border-color: gray;
	background-color: none;
}